*{
    font-family: sans-serif;
}

body{
    margin: 0;
}
.header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    /* border-bottom: 3px solid #32b9cd; */
    border-bottom: 4px solid #6495ed;
}

.header .container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    align-items: center;
    height: 100%;
}

.header .container h1{
    color: #6495ed;
    margin: 0;
}

.header .container h1 a{
    color: #6495ed;
    margin: 0;
    text-decoration: none;
}

.header .container .navbar{
    color: #ffff00;
    list-style: none;
}
.header .container .navbar li{
    display: inline;
    padding: 0 15px;
    /* margin: 0 15px; */
}
.header .container .navbar li a{
    color: #ffff00;
    text-decoration: none;
}
